---
import Layout from "../../layouts/Layout.astro";
import { addEvent } from "../../js/backend.mjs";

let pbMessage = "";

if (Astro.request.method === "POST") {
    const data = await Astro.request.formData();
    const today = new Date();
    let hasError = false;
    //check if the date is in the past

    if (new Date(data.get("date")?.toString() || today) < today) {
        pbMessage = "La date doit être dans le futur";
        hasError = true;
    }
    
    if (!hasError) {
        const resp = await addEvent(data);
        pbMessage = resp.message;
    }
}
---

<Layout title="Add event">
    <h1 class="text-3xl">Add event</h1>
    <p>{pbMessage}</p>
    <form
        class="flex flex-col p-4"
        action="/agenda/add"
        method="post"
        enctype="multipart/form-data"
    >
        <input
            type="text"
            name="title"
            placeholder="Title"
            class="border my-4 p-2 rounded-md"
            
        />

        <select name="categorie">
            <option value="Théâtre">Théâtre</option>
            <option value="Musique">Musique</option>
        </select>
        <input
            type="text"
            name="excerpt"
            placeholder="excerpt"
            class="border my-4 p-2 rounded-md"
            
        />
        <select name="lieu" class="border my-4 p-2">
            <option value="Théâtre">Théâtre</option>
            <option value="Conservatoire">Conservatoire</option>
        </select>
        <textarea
            name="description"
            placeholder="Description"
            class="border my-4 p-2 rounded-md"></textarea>
        <input type="date" name="date" class="border my-4 p-2 rounded-md" />
        <input type="file" name="imgUrl" class="border my-4 p-2 rounded-md" />

        <input
            type="submit"
            value="Ajouter"
            class="bg-slate-500 rounded-lg p-5"
            
        />
    </form>
</Layout>
