---
//@ts-nocheck
import Layout from "../../layouts/Layout.astro";
import Card from "../../components/Card.astro";
import { getEvents } from "../../js/backend.mjs";

let events = await getEvents(); // Retourne une liste d'événements en ejoutant un champ "img" contenant le URL complet de l'image associée à l'événement.
let categories = ['Tout', ...events.map((event) => event.categorie)]; // Retourne une liste de catégories d'événements
console.log(categories);

if(Astro.request.method == 'POST') {
    const data = await Astro.request.formData();
    console.log(data);
    const categorie = data.get('categorie');
    if(categorie != 'Tout'){
        events = events.filter((event) => event.categorie == categorie);
        // put categorie at the beginning of the list
        categories = [categorie, ...categories.filter((c) => c != categorie)];
        console.log(categories);   
    }
}
---

<Layout>
    <h1 class="text-6xl">Agenda</h1>
    <form action="/agenda" method="post">
        <label for="categorie">filtrer par categorie:</label>
        <select name="categorie">
            {
                // parcourir la liste de catégories et afficher chaque catégorie dans une balise <option>
                categories.map((categorie) => (
                    <option value={categorie}>{categorie}</option>
                ))
            }
        </select>
        <input type="submit" value="Filter" />
        <br /><br />
    </form>
    <a href="/agenda/add" class="text-blue-800 underline">Ajouter un événement</a>
    {
        // parcourir la liste d'événements et afficher chaque événement en utilisant le composant Card. L'operateur spread ... permet de passer toutes les propriétés de l'objet event à la balise <Card>
        events.map((event) => <Card {...event} />)
    }

</Layout>
