---
//@ts-nocheck
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import { getEvents } from "../js/backend.mjs";

const events = await getEvents();



// const events = [
//     {
//         title: "Conférence sur les astres",
//         date: "Lundi 12 Juillet",
//         favori: true,
//     },
//     {
//         title: "Atelier sur les étoiles",
//         date: "Mardi 13 Juillet",
//         favori: false,
//     },
// ];
---

<Layout>
    <h1 class="text-6xl">Agenda</h1>
    {events.map((event) => (
        <Card {...event} />
))}
    
</Layout>