---
---

<header>
    <nav>
        <ul class="flex gap-4 bg-slate-500 w-full p-4">
            <li><a href="/" class="text-white hover:text-gray-300">Acceuil</a></li>
            <li><a href="/agenda/" class="text-white hover:text-gray-300">Agenda</a></li>
        </ul>
    </nav>
</header>